<section class="otherPet">
    <h3>Name: {{name}}</h3>
    <p>Category: {{category}}</p>
    <p class="img"><img src="{{imageURL}}"></p>
    <p class="description">{{description}}</p>
    <div class="pet-info" id = '{{_id}}'>
        <a href="#/like/{{_id}}"><button class="button" type="button"><i class="fas fa-heart"></i> Pet</button></a>
        <a href="#/otherDetails/{{_id}}"><button class="button" type="button">Details</button></a>
        <i class="fas fa-heart"></i> <span> {{likes}}</span>
    </div>
</section>