{{> header}}
<div id="detailsMovie">
    <h1>Details</h1>
    <div class="movie">
        <h2>{{movie.title}}</h2>
        <img
            src="{{movie.imageURL}}">
        <p>{{movie.description}}</p>
        <h2>Genres</h2>
        <ul class="genres">
            <li>{{movie.genres}}</li>
        </ul>
        <p>Available Tickets: {{movie.tickets}}</p>
        <button><a href="#/buy/{{movie._id}}">Buy Ticket</a></button>
    </div>
</div>
{{> footer}}