<div class="movie">
    <h2>{{title}}</h2>
    <img
        src="{{imageURL}}">
    <p>Available Tickets: {{tickets}}</p><button><a href="#/buy/{{this._id}}">Buy Ticket</a></button>
    <button><a href="#/details/{{_id}}">Details</a></button>
</div>